<app-nav></app-nav>
<app-carousel></app-carousel>
<app-cards></app-cards>
<h1>Welcome to Angular Framework</h1>
<!--STRING INTERPOLATION-->
<h2>My first Angular application is {{title}}</h2>
<h3>The Course duration is {{duration}}</h3>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, dolorem, at quod delectus rem molestiae reiciendis minus ratione commodi doloribus quasi, a pariatur temporibus saepe mollitia odit. Adipisci, officiis iusto.</p>
<img src="/assets/images/img2.jpg" alt="CSS" height="200px" width="200px">
<app-home></app-home>
<router-outlet></router-outlet>
